<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet"/>
		<style>
			.travel_agency_detail-d1{
				margin-top:5px;background:#FFFFFF;height: 35px;line-height: 35px;border:1px solid #F0F0F0;border-radius:8px;box-shadow:0 2px 3px -1px #F0F0F0,0 -2px 3px -1px #F0F0F0;
			}
			.travel_agency_detail-d1-d{
				margin-top:5px;background:#FFFFFF;min-height:35px;line-height: 35px;border:1px solid #F0F0F0;border-radius:8px;box-shadow:0 2px 3px -1px #F0F0F0,0 -2px 3px -1px #F0F0F0;
			}
			.yc11{
				overflow: hidden; 
				text-overflow: ellipsis; 
				-o-text-overflow: ellipsis;
				white-space:nowrap;
				display:block;
				width:70%;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav mheader">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left mback"></a>
			<h1 class="mui-title">al1</h1>
		</header>
		<div class="mui-content bgwhite">
			<div style="background:#EEFEFF;padding: 5px;">
				<div class="travel_agency_detail-d1 oh jss">
					<span class="ml10 fs15 fl">公司地址:</span>
					<div class="fl yc11 fs14 ml3">
						<span class="" id="city">dsajkdha打开撒了点卡拉斯科技的了解啦时间段来就来</span>
					</div>
					<span class="mui-icon mui-icon-arrowright fr lh35 mr5 c666666"></span>
				</div>
				<div class="travel_agency_detail-d1 jss">
					<span class="ml10 fs15">联系电话:</span>
					<span class="fs14 c333333" id="phone"></span>
					<span class="mui-icon mui-icon-arrowright fr lh35 mr5 c666666"></span>
				</div>
				<div class="travel_agency_detail-d1-d mb20 jss">
					<span class="ml10 fs15">公司简介:</span>
					<span class="mui-icon mui-icon-arrowup fr lh35 mr10 c666666 jishao" data_status="0"></span>
					<div class="fs13 ml10 mr10 disn" id="intro" style="line-height:18px;">
					</div>
				</div>
			</div>
			<div class="mt10">
				<div style="background:#EEFEFF;padding-top:5px;text-align: center;padding-bottom: 5px;">
					<span class="fs15 c666666">产品列表</span>
				</div>
				<div class="mt4">
					<ul id="div_list">
						<!-- <li class="h120 oh bbf0">
							<div class="line-list-divl">
								<div class="line-list-divl-d1"><div style="margin-top: -2px;">跟团游</div></div>
								<img src="../img/timg%20(2).jpg"/>
								<div class="line-list-divl-d2">
									<span>张家界出发</span>
								</div>
							</div>
							<div class="line-list-divr">
								<div class="yc2 fs14 c333333 mt3">
									大啥决定离开静安寺离开酒店卢卡斯吉林大街卡视角来得及奥斯卡建档立卡讲述了肯德基大啥决定离开静安寺离开酒店卢卡斯吉林大街卡视角来得及奥斯卡建档立卡讲述了肯德基
								</div>
								<div class="mt6 oh">
									<div class="fl line-list-divr-d2">
										<div class="fl bgF8931E line-list-divr-d2-d1">
											<span class="iconfont icon-31 fs15 cffffff"></span>
										</div>
										<div class="fl fs10 cFFB400 line-list-divr-d2-d2">
											<span>4钻</span>
										</div>
									</div>
									<div class="fl ml5 line-list-divr-d2">
										<div style="line-height: 10px;padding: 0px 2px;">
											<span class="fs11 c666666">成团保障</span>
										</div>
									</div>
									<div class="fl ml5 line-list-divr-d2">
										<div style="line-height: 10px;padding: 0px 2px;">
											<span class="fs11 c666666">夕阳休闲游</span>
										</div>
									</div>
								</div>
								<div class="mt3">
									<div class="fs11 c666666 oh">
										<span class="iconfont icon-iconfontlvxingshe fs13 fl"></span>
										<span class="fl ml3">湘西国旅</span>
										<div class="fl ml5" >
											<span class="ml5">10/26</span>
										</div>
										<div class="fl" style="margin-top: -1px;">
											<span>、</span>
										</div>
										<div class="fl" style="margin-left: -6px;" >
											<span class="ml5">10/26</span>
										</div>
										<div class="fl" style="margin-top: -1px;">
											<span>、</span>
										</div>
										<div class="fl" style="margin-left: -6px;" >
											<span class="ml5">10/26等</span>
										</div>
									</div>
								</div>
								<div class="h30 lh25">
									<div class="fs12 c3F99DE fl">
										<span>5.0分</span>
									</div>
									<div class="fl fs12 c666666 ml7">
										<span>155人出游</span>
									</div>
									<div class="fr mr10 cF76211" style="margin-top: -3px;">
										<div class="fl" style="margin-left:5px;">
											<span class="fs11" >￥</span>
										</div>
										<span class="fs18">1922</span>
										<span class="fs11 c666666" style="margin-left: -2px;">起</span>
									</div>
								</div>
							</div>
						</li> -->
					</ul>
				</div>
			</div>
		</div>
		<script id="line_list" type="text/template">
			{{each list.line}}
				{{if $index==0}}
				<li class="h120 oh bbf0" data_id="{{$value.id}}">
				{{else}}
				<li class="h120 oh bbf0 mt5" data_id="{{$value.id}}">
				{{/if}}
					<div class="line-list-divl">
						<div class="line-list-divl-d1"><div style="margin-top: -2px;">{{$value.linecate.name}}</div></div>
						<img src="{{$value.pic}}"/>
						<div class="line-list-divl-d2">
							<span>{{$value.city}}出发</span>
						</div>
					</div>
					<div class="line-list-divr">
						<div class="yc2 fs14 c333333 mt3">
							{{$value.name}}
						</div>
						<div class="mt6 oh">
							<div class="fl line-list-divr-d2">
								<div class="fl bgF8931E line-list-divr-d2-d1">
									<span class="iconfont icon-31 fs15 cffffff"></span>
								</div>
								<div class="fl fs10 cFFB400 line-list-divr-d2-d2">
									<span>{{$value.linelevel.name}}</span>
								</div>
							</div>
							<div class="fl ml5 line-list-divr-d2">
								<div style="line-height: 10px;padding: 0px 2px;">
									<span class="fs11 c666666">{{$value.lineservice.name}}</span>
								</div>
							</div>
							<div class="fl ml5 line-list-divr-d2">
								<div style="line-height: 10px;padding: 0px 2px;">
									<span class="fs11 c666666">{{$value.linepeople.name}}</span>
								</div>
							</div>
						</div>
						<div class="mt3">
							<div class="fs11 c666666 oh">
								<span class="iconfont icon-iconfontlvxingshe fs13 fl"></span>
								<span class="fl ml3">{{list.en.enterprise1.alias}}</span>
								{{each $value.lineclass  va inde}}
									{{if inde+1==$value.lineclass.length}}
										<div class="fl" style="margin-left: -6px;" >
											<span class="ml5">{{va.start_date.slice(5,12)}}等</span>
										</div>
									{{else if inde==0}}
										<div class="fl ml5" >
											<span class="ml5">{{va.start_date.slice(5,12)}}</span>
										</div>
										<div class="fl" style="margin-top: -1px;">
											<span>、</span>
										</div>
									{{else}}
										<div class="fl" >
											<span class="">{{va.start_date.slice(5,12)}}</span>
										</div>
										<div class="fl" style="margin-top: -1px;">
											<span>、</span>
										</div>
									{{/if}}
								{{/each}}
							</div>
						</div>
						<div class="h30 lh25">
							<div class="fs12 c3F99DE fl">
								<span>{{$value.grade}}分</span>
							</div>
							<div class="fl fs12 c666666 ml7">
								{{if $value.people_num.people_num>0}}
								<span>{{$value.people_num.people_num}}人出游</span>
								{{else}}
								<span>0人出游</span>
								{{/if}}
							</div>
							<div class="fr mr10 cF76211" style="margin-top: -3px;">
								<div class="fl" style="margin-left:5px;">
									<span class="fs11" >￥</span>
								</div>
								<span class="fs18">{{$value.price}}</span>
								<span class="fs11 c666666" style="margin-left: -2px;">起</span>
							</div>
						</div>
					</div>
				</li>
			{{/each}}
		</script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/castapp.js"></script>
		<script src="../js/template-web.js"></script>
		<script type="text/javascript">
			mui.plusReady(function(){
				mui.init({
					swipeBack:true
				})
				ca.init();
				ca.blackStatusBar();
				var self=plus.webview.currentWebview();
				findDetail();
				function findDetail(){
					ca.showWaiting();
					ca.ajaxs({url:'findTravelAgencyDetail',data:{
							structure_id:self.structure_id
						},succFn:function(data){
							if(data){
								ca.className('mui-title')[0].innerText=data.en.enterprise1.name;
								ca.id('city').innerText=data.en.enterprise1.address;
								if(data.en.enterprise1.coord.split(",")[1]){
									ca.id('city').setAttribute('data_l',data.en.enterprise1.coord.split(",")[0]);
									ca.id('city').setAttribute('data_w',data.en.enterprise1.coord.split(",")[1]);
								}else if(data.en.enterprise1.coord.split("，")[1]){
									ca.id('city').setAttribute('data_l',data.en.enterprise1.coord.split("，")[0]);
									ca.id('city').setAttribute('data_w',data.en.enterprise1.coord.split("，")[1]);
								}else{
									ca.id('city').setAttribute('data_l',0);
									ca.id('city').setAttribute('data_w',0);
								}
								ca.id('phone').innerText=data.en.contact_name+' '+data.en.contact_tel;
								ca.id('phone').setAttribute('phone',data.en.contact_tel);
								ca.id('intro').innerText=data.en.enterprise1.intro;
								show(data);
							}
							ca.closeWaiting();
						},errFn:function(err){
							ca.closeWaiting();
							mui.toast(err);
						}
					})
				}
				var cell=ca.className('jss');
				cell[0].addEventListener('tap',function(){
					var data_l=ca.id('city').getAttribute('data_l');
					var data_w=ca.id('city').getAttribute('data_w');
					if(data_l>0){
						localStorage.setItem('map_l',data_l);
						localStorage.setItem('map_w',data_w);
						ca.newInterface({url:'../map/ditu_top.html',id:'ditu_top'});
					}else{
						
					}
				})
				cell[1].addEventListener('tap',function(){
					var phone=ca.id('phone').getAttribute('phone');
					if(!ca.emptyFun(phone)){
						ca.callPhone(phone);
					}
				})
				cell[2].addEventListener('tap',function(){
					var status=ca.className('jishao')[0].getAttribute('data_status');
					if(status==0){
						ca.className('jishao')[0].setAttribute('data_status',1);
						ca.className('jishao')[0].classList.remove('mui-icon-arrowup');
						ca.className('jishao')[0].classList.add('mui-icon-arrowdown');
						ca.id('intro').classList.remove('disn');
					}else{
						ca.className('jishao')[0].setAttribute('data_status',0);
						ca.className('jishao')[0].classList.remove('mui-icon-arrowdown');
						ca.className('jishao')[0].classList.add('mui-icon-arrowup');
						ca.id('intro').classList.add('disn');
					}
					
				})
				
				function show(data){
					try{
						ca.id('div_list').innerHTML=template('line_list', {
							"list":data
						});
					}catch(err){
						console.log(err);
					}
				}
				mui('#div_list').on('tap','.h120',function(){
					var id=this.getAttribute('data_id');
					var pl=plus.webview.create(
						'line_listitem_detail.html',
						'line_listitem_detail',{},{lineid:id})
					setTimeout(function(){
						pl.show('slide-in-right');
					},500)
					// ca.newInterface({url:'line_listitem_detail.html',id:''});
				})
			})
			
		</script>
	</body>

</html>
