<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link href="../../../css/style.css" rel="stylesheet"/>
		<link href="../../../css/iconfont.css" rel="stylesheet" />
		<style>
			.purchase-tab{
				float: left;
				width: 30%;
				text-align: center;
				font-size: 15px;
			}
			.purchase-tab-active{
				float: left;
				width: 30%;
				text-align: center;
				border-bottom: 2px solid #1E92FE;
				color: #1E92FE;
				font-size: 15px;
				
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav user-index-top-bg mheader">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left cffffff"></a>
			<span class="cffffff fl fs15 ml20" id="title" style="line-height: 42px;"></span>
		</header>
		<div class="mui-content">
			<!-- <div class="bgwhite oh h40 lh38" style="position: fixed;width: 100%;">
				<div class="purchase-tab-active shai" data-type="all" data-index=0>
					<span>全部采购</span>
				</div>
				<div class="purchase-tab shai" data-type="hotel" data-index=1>
					<span>待采购订单</span>
				</div>
				<div class="purchase-tab shai" data-type="food" data-index=2>
					<span>已采购订单</span>
				</div>
			</div> -->
			<div >
				<ul id="list">
					<!-- <li class="" style="margin: 5px;background: #FFFFFF;border-radius: 5px;">
						<div class="oh ml10 mr10 bbf0 h35 lh35">
							<div class="fl">
								<span class="iconfont icon-lvyouyongche"></span>
							</div>
							<div class="fl fs15 c333333 ml10">
								<span>张家界接送站测试1</span>
							</div>
							<div class="fr cred fs14">
								<span>￥1500</span>
							</div>
						</div>
						<div class="ml15 mr10 mt5 mb7 c666666 fs14">
							<div>
								<span>订单:1545646456</span> <span>接时间:2018-11-12 12:30</span>
							</div>
							<div>
								<span>接站/150 x1</span> <span>公司付5000</span>
							</div>
							
							<div class="yc2 c999999">
								备注:sjdlkaj打开撒到了就爱上了空间大就是空间带来的撒的卢卡斯即可第六届奥斯卡建档立卡数据库的骄傲时刻了解到
							</div>
							<div>
								<span>下单时间:2018-12-11 12:55</span>
							</div>
						</div>
						<div class="oh ml15 mr10 btf0 h30 ">
							<div class="fl fs15 cred lh30">
								<span>待确认</span>
							</div>
							<div class="fr bb4f77aa c4F77AA fs15">
								<span>取消</span>
							</div>
						</div>
					</li> -->
					<!-- <li class="oh" style="margin: 5px;background: #FFFFFF;border-radius: 5px;">
						<div class="h100 ml10 mr10 bbf0">
							<div class="">
								<h5 class="c000000 ts-li-title fs16 mt8">森林公园+玻璃桥+天门山+凤凰古城经典5日游</h5>
							</div>
							<div>
								<span class="fs13 c666666">订单:A823965567235853</span>
							</div>
							<div class="fs13 c666666">
								<span >2018-15-16</span><span>--</span><span>2018-15-16</span>
							</div>
							<div class="fs12 c666666">
								<span >大人(15)</span><span class="ml10">小孩(15)</span>
								<span class="fr mr15 cred fs15">19580</span><span class="fr cred fs12">￥</span>
							</div>
						</div>
						<div class="oh ml15 mr10 h30">
							<div class="fr bb4f77aa c4F77AA fs15">
								<span>采购</span>
							</div>
						</div>
					</li> -->
				</ul>
			</div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/castapp.js"></script>
		<script src="../../../js/template-web.js"></script>
		<script type="text/template" id="list_item">
			{{each list}}
				<li class="oh" style="margin: 5px;background: #FFFFFF;border-radius: 5px;">
					<div class="ml10 mr10 bbf0" data_id="{{$value.id}}">
						<div class="">
							<h5 class="c000000 ts-li-title fs16 mt8">{{$value.line_name}}</h5>
						</div>
						<div>
							<span class="fs13 c666666">订单:{{$value.order_num}}</span>
						</div>
						<div class="fs13 c666666">
							<span>{{$value.start_date}}</span><span>--</span><span>{{$value.end_date}}</span>
						</div>
						<div class="fs12 c666666">
							<span >大人({{$value.man_num}})</span><span class="ml10">小孩({{$value.child_num}})</span>
							{{if $value.guide_num>0 }}
								<span class="ml10">全陪({{$value.guide_num}})</span>
							{{/if}}
							<!-- <span class="fr mr15 cred fs15">19580</span><span class="fr cred fs12">￥</span> -->
						</div>
						{{if $value.go_date!='0000-00-00'}}
							<div class="fs13 c666666">
								<span>接:</span><span></span><span>{{$value.go_date}}</span>
								{{if $value.go_time}}
									{{$value.go_time}} {{$value.go_traffic}}
								{{/if}}
								{{if $value.go_stay_star>0}}
									<span>宿:{{$value.hotelstar.name}}</span>
								{{/if}}
								{{if $value.go_food>0}}
									<span>餐:有</span>
								{{/if}}
							</div>
						{{/if}}
						{{if $value.back_date!='0000-00-00'}}
							<div class="fs13 c666666">
								<span>送:</span><span></span><span>{{$value.back_date}}</span>
								{{if $value.back_time}}
									{{$value.back_time}} {{$value.back_traffic}}
								{{/if}}
								{{if $value.back_stay_star>0}}
									<span>宿:{{$value.hotelstar1.name}}</span>
								{{/if}}
								{{if $value.back_food>0}}
									<span>餐:有</span>
								{{/if}}
							</div>
						{{/if}}
					</div>
					<div class="oh ml15 mr10 h30">
						<div class="fr bb4f77aa c4F77AA fs15 caigou" data_go_date="{{$value.go_date}}" data_go_time="{{$value.go_time}}" data_go_stay="{{$value.go_stay}}" data_go_food="{{$value.go_food}}"
						data_back_date="{{$value.back_date}}" data_back_time="{{$value.back_time}}" data_back_stay="{{$value.back_stay}}" data_back_food="{{$value.back_food}}" data_order_id="{{$value.id}}">
							<span>采购</span>
						</div>
					</div>
				</li>
			{{/each}}
		</script>
		<script type="text/javascript">
			mui.plusReady(function(){
				mui.init();
				ca.init();
				var self=plus.webview.currentWebview();
				var team_num=self.team_num;
				ca.id('title').innerText=team_num+' 接送站采购'
				findAllPurchase();
				function findAllPurchase(){
					ca.ajaxs({url:'findTeamPickupLineOrder',data:{
							team_num:team_num
						},succFn:function(data){
							if(!ca.emptyFun(data)){
								show(data);
							}else{
								ca.id('list').innerHTML='该团队无接送站需要采购！'
							}
						},errFn:function(err){
							mui.toast(err);
							ca.closeWaiting();
						}
					})
				}
				function show(data){
					try{
						ca.id('list').innerHTML=template('list_item',{
							'list':data
						})
					}catch(e){
						console.log(e);
					}
				}
				mui('#list').on('tap','.caigou',function(){
					var go_date=this.getAttribute('data_go_date');
					var go_time=this.getAttribute('data_go_time');
					var go_stay=this.getAttribute('data_go_stay');
					var go_food=this.getAttribute('data_go_food');
					var back_date=this.getAttribute('data_back_date');
					var back_time=this.getAttribute('data_back_time');
					var back_stay=this.getAttribute('data_back_stay');
					var order_id=this.getAttribute('data_order_id');
					var back_food=this.getAttribute('data_back_food');
					var se=plus.webview.create('purchase_pickups_detail.html','purchase_pickups_detail',{},{
						team_num:team_num,
						order_id:order_id,
						teamsk_id:self.teamsk_id,
						go_date:go_date,go_time:go_time,go_stay:go_stay,go_food:go_food,
						back_date:back_date,back_time:back_time,back_stay:back_stay,back_food:back_food
						});
					setTimeout(function(){
						se.show('pop-in','300');
					},100)
				})
				mui('#list').on('tap','.bbf0',function(){
					var id=this.getAttribute('data_id');
					var se=plus.webview.create('../../order/business_sorder_detail.html','business_sorder_detail',{},{
							lineOrder_id:id
						});
					setTimeout(function(){
						se.show('pop-in','300');
					},100)
				})
			})
			
		</script>
	</body>

</html>
