<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/iconfont.css" type="text/css"  rel="stylesheet"/>
		<link href="css/hui.css" type="text/css"  rel="stylesheet"/>
		<style>
			.mui-sliders{
				position: relative;
				z-index:88;
				overflow: hidden;
				width: 100%;
			}
			#slider2 .mui-slider-indicator .mui-indicator{
				width: 26px;
				height: 3px;
				border-radius:5px;
				background: #EFEFEF;
				margin: 1px -4px;
				
			}
			#slider2 .mui-slider-indicator .mui-active.mui-indicator {
				background: #24ABFE;
			}
			.line_listitem_detail_header{
				height: 69px;padding-top: 25px;background: rgba(24,124,253,0);
				z-index:99;
			}
			.mui-bar-nav {
				top: 0;
				-webkit-box-shadow: 0 0px 0px #ccc;
				/* box-shadow: 0 1px 6px #ccc; */
			}
			.mui-bar {
				-webkit-box-shadow: 0 0 0px rgba(0, 0, 0, .85);
				box-shadow: 0 0 0px rgba(0, 0, 0, .85);
			}
			.mui-slider {
				z-index: 90;
			}
		</style>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-transparent1 line_listitem_detail_header" >
			<h1 class="mui-title" style="display: none;"></h1>
		</header>
		<div  id="body">
			<div class="index-div1">
				<div class="mui-slider" id="slider">
					<div class="mui-slider-group mui-slider-loop" id="banner">
						<!-- 支持循环，需要重复图片节点   0  1 2  0 1 2 -->
						<!-- <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="img/banner2.jpg" /></a></div>
						<div class="mui-slider-item"><a href="#"><img src="img/banner1.jpg" /></a></div>
						<div class="mui-slider-item"><a href="#"><img src="img/banner.jpg" /></a></div>
						<div class="mui-slider-item"><a href="#"><img src="img/banner2.jpg" /></a></div> -->
						<!--支持循环，需要重复图片节点
						<!-- <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="img/banner1.jpg" /></a></div> --> -->
					</div>
							
				<!--//轮播图中间底部圆点-->
					<div class="mui-slider-indicator">
						<div style="" id="bannerdian">
							
						</div>
					</div>
				</div>
				<div class="index-div1-top">
					<div class="index-div1-top-div1" id="search">
						<span class="mui-icon mui-icon-search c24ABFE fs20 "></span>
						<span style="color: #999999;" class="fs14">搜索酒店/车队/导游/景点</span>
					</div>
					<div class="index-div1-top-div2" id="tongzhi">
						<span class="iconfont icon-tongzhi4 c24ABFE ml3 fs17"></span>
						<div class="index-div1-top-div2-div1" id="weidushudiv">
							<span class="cffffff" id="weidushu" style="position: absolute;font-size:9px ;">0</span>
						</div>
					</div>
				</div>
			</div>
			<div class="shouye2-div2 bgwhite">
				<div class="mui-slider" style="height:100px;z-index: 88;" id="slider2">
					<div class="mui-slider-group">
						<div class="mui-slider-item mui-active shouye2-div2s">
							<div class="w20 fl">
								<img src="img/shouye2-jd.png" style="height: 41px;width: 41px;"/>
								<span class="fs13 c333333">酒店</span>
							</div>
							<div class="w20 fl">
								<img src="img/shouye2-cd.png" style="height: 41px;width: 41px;"/>
								<span class="fs13 c333333">车队</span>
							</div>
							<div class="w20 fl">
								<img src="img/shouye2-ct.png" style="height: 41px;width: 41px;"/>
								<span class="fs13 c333333">餐厅</span>
							</div>
							<div class="w20 fl">
								<img src="img/shouye2-mp.png" style="height: 41px;width: 41px;"/>
								<span class="fs13 c333333">景点门票</span>
							</div>
							<div class="w20 fl">
								<img src="img/shouye2-dy.png" style="height: 41px;width: 41px;"/>
								<span class="fs13 c333333">导游</span>
							</div>
						</div>
						<div class="mui-slider-item shouye2-div2s">
							<div class="w20 fl">
								<img src="img/index_div2_6.png" style="height: 41px;width: 41px;"/>
								<span class="fs13 c333333">接送站</span>
							</div>
							<div class="w20 fl">
								<img src="img/shouye22-zp.png" style="height: 41px;width: 41px;"/>
								<span class="fs13 c333333">招聘</span>
							</div>
						</div>
					</div>
				<!--//轮播图中间底部圆点-->
					<div class="mui-slider-indicator">
						<div class="mui-indicator mui-active" ></div>
						<div class="mui-indicator"></div>
					</div>
				</div>
			</div>
			
			<div class="bgwhite index-div3">
				<div class="index-div3-div1">
					<img  src="img/toutiaoguanggao.jpg"/>
				</div>
				<div class="index-div3-div2">
					<div class="hui-scroll-news oh"  id="scrollnew1" >
						
					</div>
				</div>
			</div>
			<!-- <div class="shouye2-div4 oh">
				<div class="shouye2-div4-div shouye2-dt-bg1">
					<div class="oh">
						<span class="fs13 c333333 fl">酒店动态</span>
						<span class="fl ml10" style="background: url(img/shouye2-dt-1.png) no-repeat center center; background-size: 15px;width: 20px;height: 20px;display: block;">
						</span>
					</div>
					<div class="oh mtf3">
						<span class="fs10" style="color: #7F59ED;">上千家</span><span class="fs10" style="color: #A5A5A5;">-酒店空房，特价房</span>
					</div>
				</div>
				<div class="shouye2-div4-div">
					<div class="oh">
						<span class="fs13 c333333 fl">找酒店</span>
						<span class="fl ml15" style="background: url(img/shouye2-dt-2.png) no-repeat center center; background-size: 15px;width: 20px;height: 20px;display: block;">
						</span>
					</div>
					<div class="oh mtf3">
						<span class="fs10" style="color: #FE7B45;">方便快捷</span><span class="fs10" style="color: #A5A5A5;">-实时发布用房需求</span>
					</div>
				</div>
				<div class="shouye2-div4-div">
					<div class="oh">
						<span class="fs13 c333333 fl">车辆动态</span>
						<span class="fl ml10" style="background: url(img/shouye2-dt-3.png) no-repeat center center; background-size: 15px;width: 20px;height: 20px;display: block;">
						</span>
					</div>
					<div class="oh mtf3">
						<span class="fs10" style="color: #34AC69;">999辆车</span><span class="fs10" style="color: #A5A5A5;">-随时查看车辆需求</span>
					</div>
				</div>
				<div class="shouye2-div4-div">
					<div class="oh">
						<span class="fs13 c333333 fl">找车队</span>
						<span class="fl ml15" style="background: url(img/shouye2-dt-4.png) no-repeat center center; background-size: 15px;width: 20px;height: 20px;display: block;">
						</span>
					</div>
					<div class="oh mtf3">
						<span class="fs10" style="color: #189EFD;">方便快捷</span><span class="fs10" style="color: #A5A5A5;">-实时发布用车需求</span>
					</div>
				</div>
				<div class="shouye2-div4-div mb10">
					<div class="oh">
						<span class="fs13 c333333 fl">景区动态</span>
						<span class="fl ml10" style="background: url(img/shouye2-dt-5.png) no-repeat center center; background-size:15px;width: 20px;height: 20px;display: block;">
						</span>
					</div>
					<div class="oh mtf3">
						<span class="fs10" style="color:#34C2FC;">方便快捷</span><span class="fs10" style="color: #A5A5A5;">-实时发布用车需求</span>
					</div>
				</div>
				<div class="shouye2-div4-div mb10">
					<div class="oh">
						<span class="fs13 c333333 fl">找导游</span>
						<span class="fl ml15" style="background: url(img/shouye2-dt-6.png) no-repeat center center; background-size:15px;width: 20px;height: 20px;display: block;">
						</span>
					</div>
					<div class="oh mtf3">
						<span class="fs10" style="color: #01CFA3;">方便快捷</span><span class="fs10" style="color: #A5A5A5;">-实时发布用人需求</span>
					</div>
				</div>
			</div> -->
			<div class="oh pl5 pr5">
				<div class="shouye2-dt-bg1 fl shouye2-dt" style="width:50%;border-radius:4px;height:45px;">
					<div class="oh ml10 mt5">
						<span class="fs14 cffffff fl fwb">酒店动态</span>
					</div>
					<div class="oh mtf6 ml10">
						<span class="fs10 cffffff" >上千家</span><span class="fs10 cffffff">-酒店空房，特价房</span>
					</div>
				</div>
				<div class="shouye2-dt-bg2 fl shouye2-dt" style="margin-left:1%;width: 49%;border-radius:4px;height:45px;">
					<div class="oh ml10 mt5">
						<span class="fs14 cffffff fl fwb">找酒店</span>
					</div>
					<div class="oh mtf6 ml10">
						<span class="fs10 cffffff">方便快捷</span><span class="fs10 cffffff" >-实时发布用房需求</span>
					</div>
				</div>
				<div class="shouye2-dt-bg3 fl mt3 shouye2-dt" style="width:50%;border-radius:4px;height:45px;">
					<div class="oh ml10 mt5">
						<span class="fs14 cffffff fl fwb">车辆动态</span>
					</div>
					<div class="oh mtf6 ml10">
						<span class="fs10 cffffff">999+辆车</span><span class="fs10 cffffff" >-随时查看车辆需求</span>
					</div>
				</div>
				<div class="shouye2-dt-bg4 fl mt3 shouye2-dt" style="margin-left:1%;width:49%;border-radius:4px;height:45px;">
					<div class="oh ml10 mt5">
						<span class="fs14 cffffff fl fwb">找车队</span>
					</div>
					<div class="oh mtf6 ml10">
						<span class="fs10 cffffff">方便快捷</span><span class="fs10 cffffff" >-实时发布用车需求</span>
					</div>
				</div>
				<div class="shouye2-dt-bg5 fl mt3 mb5 shouye2-dt" style="width:50%;border-radius:4px;height:45px;">
					<div class="oh ml10 mt5">
						<span class="fs14 cffffff fl fwb">景区动态</span>
					</div>
					<div class="oh mtf6 ml10">
						<span class="fs10 cffffff">所有</span><span class="fs10 cffffff" >-景区动态发布</span>
					</div>
				</div>
				<div class="shouye2-dt-bg6 fl mt3 mb5 shouye2-dt" style="margin-left:1%;width:49%;border-radius:4px;height:45px;">
					<div class="oh ml10 mt5">
						<span class="fs14 cffffff fl fwb">找导游</span>
					</div>
					<div class="oh mtf6 ml10">
						<span class="fs10 cffffff">方便快捷</span><span class="fs10 cffffff" >-实时发布用人需求</span>
					</div>
				</div>
			</div>
			<div class="shouye-div5 oh">
				<div class="pic">
					<ul id="category-head" style="">
						
					</ul>
				</div>
			</div>
			<!-- <div class="bgwhite shouye2-div6" >
				<div class="shouye2-div6-div1">
					<img  src="img/shouye2-zp.png"/>
				</div>
				<div class="shouye2-div6-div2">
					<div class="hui-scroll-news oh"  id="scrollnew2" >
						<div class="hui-scroll-news-items oh" >
							<div style="float: left;width:95%;">
								<div class="mt5 oh">
									<span class="shouye2-div6-div2-tt-sp1">猎头</span>
									<span class="fs12 c333333">十一小长假旅途,就在张家界等你来!dsadasdasdasdasdasdassdaaaaaaaaaaaaaaaaaaaaaaaaaaaaadsakljd桑德拉氪金大佬空间撒</span>
								</div>
								<div class="mt3">
									<span class="shouye2-div6-div2-tt-sp1">推荐</span>
									<span class="fs12 c333333">旅游渐入淡季,是错峰旅游的好时节。</span>
								</div>
							</div>
						</div>
						<div class="hui-scroll-news-items oh bgwhite">
							<div style="float: left;width: 90%;">
								<div class="mt5 oh">
									<span class="shouye2-div6-div2-tt-sp1">猎头</span>
									<span class="fs12 c333333">十一小长假旅途,就在张家界等你来!dsaljdkljdlkkkkkkkkkkkkkkkkkk</span>
								</div>
								<div class="mt3">
									<span class="shouye2-div6-div2-tt-sp1">推荐</span>
									<span class="fs12 c333333">旅游渐入淡季,是错峰旅游的好时节。</span>
								</div>
							</div>
						</div>
						<div class="hui-scroll-news-items oh bgwhite">
							<div class="mt5 oh">
								<span class="shouye2-div6-div2-tt-sp1">猎头</span>
								<span class="fs12 c333333">十一小长假旅途,就在张家界等你来!</span>
							</div>
							<div class="mt3">
								<span class="shouye2-div6-div2-tt-sp1">推荐</span>
								<span class="fs12 c333333">旅游渐入淡季,是错峰旅游的好时节。</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		 -->
			<div style="margin:0px 5px 5px 5px;background: #FFFFFF;border-radius:5px ;">
				<div class="h35 lh35 fs14 tc bbf0">
					<span class="iconfont icon-hr c999999"></span>
					<span class="c333333">线路推荐</span>
					<span class="iconfont icon-hr c999999"></span>
				</div>
				<ul id="recommendList">
					
				</ul>
			</div>
			
		</div>
		<script type="text/template" id="lineitem">
			{{each list}}
					<li class="handleLine" data_id="{{$value.id}}" data_type="{{$value.type}}" data_product_type="{{$value.product_type}}" data_item_id="{{$value.item_id}}" data_product="{{$value.product?$value.product.id:0}}"><img src="{{$value.pic}}" alt="" style="height:80px;width: 100%;"></li>
			{{/each}}
		</script>
		<script type="text/template" id="RecommendLine">
			{{each list}}
				{{if $index==0}}
				<li class="h120 oh bbf0" data_id="{{$value.id}}">
				{{else}}
				<li class="h120 oh bbf0 mt5" data_id="{{$value.id}}">
				{{/if}}
					<div class="line-list-divl">
						<div class="line-list-divl-d1"><div style="margin-top: -2px;">{{$value.linecate.name}}</div></div>
						<img src="{{$value.pic}}"/>
						<div class="line-list-divl-d2">
							<span>{{$value.city}}出发</span>
						</div>
					</div>
					<div class="line-list-divr">
						<div class="yc2 fs14 c333333 mt3">
							{{$value.name}}
						</div>
						<div class="mt6 oh">
							<div class="fl line-list-divr-d2">
								<div class="fl bgF8931E line-list-divr-d2-d1">
									<span class="iconfont icon-31 fs15 cffffff"></span>
								</div>
								<div class="fl fs10 cFFB400 line-list-divr-d2-d2">
									<span>{{$value.linelevel.name}}</span>
								</div>
							</div>
							<div class="fl ml5 line-list-divr-d2">
								<div style="line-height: 10px;padding: 0px 2px;">
									<span class="fs11 c666666">{{$value.lineservice.name}}</span>
								</div>
							</div>
							<div class="fl ml5 line-list-divr-d2">
								<div style="line-height: 10px;padding: 0px 2px;">
									<span class="fs11 c666666">{{$value.linepeople.name}}</span>
								</div>
							</div>
						</div>
						<div class="mt3">
							<div class="fs11 c666666 oh">
								<span class="iconfont icon-iconfontlvxingshe fs13 fl"></span>
								<span class="fl ml3">{{$value.structure.enterprise.alias}}</span>
								{{each $value.lineclass  va inde}}
								{{if inde+1==$value.lineclass.length}}
									<div class="fl" style="margin-left: -6px;" >
										<span class="ml5">{{va.start_date.slice(5,12)}}等</span>
									</div>
								{{else if inde==0}}
									<div class="fl ml5" >
										<span class="ml5">{{va.start_date.slice(5,12)}}</span>
									</div>
									<div class="fl" style="margin-top: -1px;">
										<span>、</span>
									</div>
								{{else}}
									<div class="fl" >
										<span class="">{{va.start_date.slice(5,12)}}</span>
									</div>
									<div class="fl" style="margin-top: -1px;">
										<span>、</span>
									</div>
								{{/if}}
								{{/each}}
							</div>
						</div>
						<div class="h30 lh25">
							<div class="fs12 c3F99DE fl">
								<span>{{$value.grade}}分</span>
							</div>
							<div class="fl fs12 c666666 ml7">
								{{if $value.people_num.people_num>0}}
								<span>{{$value.people_num.people_num}}人出游</span>
								{{else}}
								<span>0人出游</span>
								{{/if}}
								
							</div>
							<div class="fr mr10 cF76211" style="margin-top: -3px;">
								<div class="fl" style="margin-left:5px;">
									<span class="fs11" >￥</span>
								</div>
								<span class="fs18">{{$value.price}}</span>
								<span class="fs11 c666666" style="margin-left: -2px;">起</span>
							</div>
						</div>
					</div>
				</li>
			{{/each}}
		</script>
		<script src="js/mui.min.js"></script>
		<script src="js/castapp.js"></script>
		<script src="js/template-web.js"></script>
		<script src="js/hui.js" type="text/javascript"></script>
		<script src="js/shouye/transparent1.js"></script>
		<script type="text/javascript">
			mui.plusReady(function(){
				mui.init();
				ca.init();
				
				var slider2=mui('#slider2');
				slider2.slider({interval:0});
				// hui.scrollNews(scrollnew1);
				// hui.scrollNews(scrollnew2,4000);
				var network=plus.networkinfo.getCurrentType();
				if(network==1 ||network==4){
// 					plus.nativeUI.showWaiting('正在请求数据')
// 					mui.toast('请检查网络环境');
				}else{
					if(!ca.emptyFun(plus.storage.getItem('indexTwoData'))){//判断是否存储有数据
						showAll();//直接显示
					}else{
						findAll1();//先查询
						
					}
				}
				document.addEventListener("netchange",checkTheNetwork,false);//检测网络环境发生变化
				function checkTheNetwork(){
					ca.getMachineInfo(function(data){
						if(data.network=='未连接网络'){
							mui.toast('网络断开连接');
						}else if(data.network=='2G蜂窝网络' || data.network=='3G蜂窝网络'){
							mui.toast('网络断开连接')
						}else{
							showAll();
							setRecommendLine();
						}
					})
				}
				function findAll(){
					ca.ajaxs({url:'findIndexTwoAdvertising',data:{
						},succFn:function(data){
							if(data){
								plus.storage.setItem('indexTwoData',JSON.stringify(data));
							}
							ca.closeWaiting();
						},errFn:function(err){
							ca.closeWaiting();
							mui.toast(err);
						}
					})
				}
				function findAll1(){
					ca.ajaxs({url:'findIndexTwoAdvertising',data:{
						},succFn:function(data){
							if(data){
								plus.storage.setItem('indexTwoData',JSON.stringify(data));
								showAll();
							}
							ca.closeWaiting();
						},errFn:function(err){
							ca.closeWaiting();
							mui.toast(err);
						}
					})
				}
				function showAll(){
					var data=JSON.parse(plus.storage.getItem('indexTwoData'));
					if(!ca.emptyFun(data.indexTwoBannerArr)){
						handleBanner(data.indexTwoBannerArr);
					}
					if(!ca.emptyFun(data.indexTwoLineArr)){
						handleLine(data.indexTwoLineArr);
					}
					if(!ca.emptyFun(data.indexTwoTopXiArr)){
						var indexTwoTopReArr=data.indexTwoTopXiArr.sort(ca.getSortFun('desc','hits'));
						handleTop(indexTwoTopReArr,data.indexTwoTopXiArr);
						hui.scrollNews(scrollnew1);
					}
					findAll();//再次更新存储内容
				}
				
				function handleBanner(indexBannerArr){
					var indexBannerArr=indexBannerArr;
					var indexBannerArrinnerHTML="";
					var dianhtml="";
					for(var a in indexBannerArr){
						var length=indexBannerArr.length-1;
						var temp="";
						var dian="";
						if(a==0){
							dian='<div class="mui-indicator mui-active" ></div>';
							temp='<div class="mui-slider-item mui-slider-item-duplicate" data_id="'+indexBannerArr[length].id+'" data_type="'+indexBannerArr[length].type+'" data_product_type="'+indexBannerArr[length].product_type+'" data_item_id="'+indexBannerArr[length].item_id+'" data_product="'+(indexBannerArr[length].product?indexBannerArr[length].product.id:0)+'"><a href="#"><img src="'+indexBannerArr[length].pic+'" /></a></div>'
								+'<div class="mui-slider-item" data_id="'+indexBannerArr[a].id+'" data_type="'+indexBannerArr[a].type+'" data_product_type="'+indexBannerArr[a].product_type+'" data_item_id="'+indexBannerArr[a].item_id+'" data_product="'+(indexBannerArr[a].product?indexBannerArr[a].product.id:0)+'"><a href="#"><img src="'+indexBannerArr[a].pic+'" /></a></div>';
						}else if(a==length){
							dian='<div class="mui-indicator" ></div>';
							temp='<div class="mui-slider-item" data_id="'+indexBannerArr[a].id+'" data_type="'+indexBannerArr[a].type+'" data_product_type="'+indexBannerArr[a].product_type+'" data_item_id="'+indexBannerArr[a].item_id+'" data_product="'+(indexBannerArr[a].product?indexBannerArr[a].product.id:0)+'"><a href="#"><img src="'+indexBannerArr[a].pic+'" /></a></div>'
							+'<div class="mui-slider-item mui-slider-item-duplicate" data_id="'+indexBannerArr[0].id+'" data_type="'+indexBannerArr[0].type+'" data_product_type="'+indexBannerArr[0].product_type+'" data_item_id="'+indexBannerArr[0].item_id+'" data_product="'+(indexBannerArr[0].product?indexBannerArr[0].product.id:0)+'"><a href="#"><img src="'+indexBannerArr[0].pic+'" /></a></div>';
						}else if(a!=0 && a<length){
							dian='<div class="mui-indicator" ></div>';
							temp='<div class="mui-slider-item" data_id="'+indexBannerArr[a].id+'" data_type="'+indexBannerArr[a].type+'" data_product_type="'+indexBannerArr[a].product_type+'" data_item_id="'+indexBannerArr[a].item_id+'" data_product="'+(indexBannerArr[a].product?indexBannerArr[a].product.id:0)+'"><a href="#"><img src="'+indexBannerArr[a].pic+'"/></a></div>';
						}
						indexBannerArrinnerHTML+=temp;
						dianhtml+=dian;
					}
					ca.id('bannerdian').innerHTML=dianhtml;
					ca.id('banner').innerHTML=indexBannerArrinnerHTML;
					ca.pictureScroll({
							callback:function(pictureNumber){
							},
							isAutoScroll:true,
							scrollTime:3
					});
				}
				function handleTop(re,xi){
					var indexBannerArrinnerHTML="";
					mui.each(re,function(index,item){
						var temp='<div class="hui-scroll-news-items oh" >'
								+		'<div style="float:left;width: 80%;">'
								+				'<div class="mt5 handleTop oh" data_id="'+xi[index].id+'" data_type="'+xi[index].type+'" data_product_type="'+xi[index].product_type+'" data_item_id="'+xi[index].item_id+'" data_product="'+(xi[index].product?xi[index].product.id:0)+'"><span class="index-div3-div2-tt-sp1">最新</span>'
								+				'<span class="fs12 c333333 ml3">'+xi[index].title+'</span></div>'
								+				'<div class="mt3 handleTop" data_id="'+re[index].id+'" data_type="'+re[index].type+'" data_product_type="'+re[index].product_type+'" data_item_id="'+re[index].item_id+'" data_product="'+(re[index].product?re[index].product.id:0)+'"><span class="index-div3-div2-tt-sp1">热推</span>'
								+				'<span class="fs12 c333333 ml3">'+re[index].title+'</span></div>'
								+		'</div>'
								+		'<div class="handleTop" style="width: 20%;" data_id="'+xi[index].id+'" data_type="'+xi[index].type+'" data_product_type="'+xi[index].product_type+'" data_item_id="'+xi[index].item_id+'" data_product="'+(xi[index].product?xi[index].product.id:0)+'"><img src="'+xi[index].pic+'" style="width: 100%;height: 100%;"/></div>'	
								+'</div>';
						ca.id('scrollnew1').innerHTML+=temp;
					})
				}
				function handleLine(indexLineArr){
					try{
						ca.id('category-head').innerHTML=template('lineitem', {
							"list":indexLineArr
						});
					}catch(err){
						console.log(err);
					}
				}
				//线路推荐
				setRecommendLine();
				function setRecommendLine(){
					var recommendLine=JSON.parse(localStorage.getItem('RandomRecommendLine'));
					if(!ca.emptyFun(recommendLine)){
						try{
							ca.id('recommendList').innerHTML=template('RecommendLine', {
								"list":recommendLine
							});
						}catch(e){
							console.log(e);
						}
					}else{
						findRecommendLine();
					}
				}
				/**
				 * 查询推荐线路
				 */
				function findRecommendLine(){
					ca.ajaxs({url:'findRandomRecommendLine',data:{
						},succFn:function(data){
							if(data){
								try{
									ca.id('recommendList').innerHTML=template('RecommendLine', {
										"list":data
									});
								}catch(e){
									console.log(e);
								}
								localStorage.setItem('RandomRecommendLine',JSON.stringify(data));
							}
							ca.closeWaiting();
						},errFn:function(err){
							ca.closeWaiting();
							mui.toast(err);
						}
					})
				}
				/**
				 * 推荐线路点击
				 */
				mui('#recommendList').on('tap','.h120',function(){
					ca.showWaiting();
					var id=this.getAttribute('data_id');
					var pl=plus.webview.create(
						'line/line_listitem_detail.html',
						'line_listitem_detail',{},{lineid:id})
					setTimeout(function(){
						pl.show('slide-in-right',400);
					},300)
					// ca.newInterface({url:'line_listitem_detail.html',id:''});
				})
				
				
				
				mui('#banner').on('tap','.mui-slider-item',function(){
					var id=this.getAttribute('data_id');
					var type=this.getAttribute('data_type');
					var item_id=this.getAttribute('data_item_id');
					var product_type=this.getAttribute('data_product_type');
					var product=this.getAttribute('data_product');
					onclickAdvertisement(type,product_type,product,item_id,id);
				});
				mui('#scrollnew1').on('tap','.handleTop',function(){
					var id=this.getAttribute('data_id');
					var type=this.getAttribute('data_type');
					var item_id=this.getAttribute('data_item_id');
					var product_type=this.getAttribute('data_product_type');
					var product=this.getAttribute('data_product');
					onclickAdvertisement(type,product_type,product,item_id,id);
				})
				mui('#category-head').on('tap','.handleLine',function(){
					var id=this.getAttribute('data_id');
					var type=this.getAttribute('data_type');
					var item_id=this.getAttribute('data_item_id');
					var product_type=this.getAttribute('data_product_type');
					var product=this.getAttribute('data_product');
					onclickAdvertisement(type,product_type,product,item_id,id);
				})
				function onclickAdvertisement(type,product_type,product,item_id,id){
					if(type==0){
						mui.openWindow({
							url:'advertisement/advertisement_detail.html',
							id:'advertisement_detail',
							extras:{
								detail_id:id
							}
						})
					}else{
						ca.showWaiting();
						ca.ajaxs({url:'addAdvertisingHits',data:{id:id}});
						if(product_type=='line'){
							var styles={};
							// 在Android5以上设备，如果默认没有开启硬件加速，则强制设置开启
							if(!plus.webview.defaultHardwareAccelerated()&&parseInt(plus.os.version)>=5){
								styles.hardwareAccelerated=true;
							}
							var web=plus.webview.create('line/line_listitem_detail.html','line_listitem_detail',styles,
							{lineid:item_id});
							setTimeout(function(){//延迟0.8s打开
								plus.webview.show(web,'pop-in');
								ca.closeWaiting();
							},500)
						}else if(product_type=='hotel'){
							var detailPage= mui.preload({
								id:'hotel_item_list_detail',
								url:'hotel/hotel_item_list_detail.html'
							});
								if(!detailPage){
									detailPage = plus.webview.getWebviewById('hotel_item_list_detail');
								}
							setTimeout(function(){
								mui.fire(detailPage,'hotel_item',{
										hotel_id:product,
										enterprise_id:item_id
									});
								mui.openWindow({
									id:'hotel_item_list_detail',
								})
								ca.closeWaiting();
							},500)
							
						}else if(product_type=='ticket'){
							mui.openWindow({
								url:'scenicspot/scenicspot_list_item_detail.html',
								id:'scenicspot_list_item_detail',
								extras:{
									ticket_item_id:product
								}
							})
							ca.closeWaiting();
						}
						
					}
				}
				ca.id('search').addEventListener('tap',function(){
					ca.newInterface({url:'search.html',id:'search'});
				});
				ca.id('tongzhi').addEventListener('tap',function(){
					ca.showWaiting();
					var self=plus.webview.create('information.html','information',{},{});
					setTimeout(function(){
						self.show('slide-in-right',400);
						// pop-in
					},200)
				})
				var cell=ca.className('w20');
				cell[0].addEventListener('tap',function(){
					ca.showWaiting();
					var self=plus.webview.create('hotel/hotel_list.html','hotel_list',{});
					setTimeout(function(){
						self.show('slide-in-right','400');
					},200)
					// ca.newInterface({url:'hotel/hotel_list_item.html',id:'hotel_list_item'});
				})
				cell[1].addEventListener('tap',function(){
					ca.showWaiting();
					var self=plus.webview.create('car/car_list_item.html','car_list_item',{});
					setTimeout(function(){
						self.show('slide-in-right','350');
					},100)
					// ca.newInterface({url:'car/car_top.html',id:'car_top'});
				})
				cell[2].addEventListener('tap',function(){
					ca.showWaiting();
					var self=plus.webview.create('restaurant/restaurant_list_item.html','restaurant_list_item',{});
					setTimeout(function(){
						self.show('slide-in-right','350');
					},100)
					// ca.newInterface({url:'restaurant/restaurant_list_top.html',id:'restaurant_list_top'});
				})
				cell[3].addEventListener('tap',function(){
					ca.showWaiting();
					var self=plus.webview.create('scenicspot/scenicspot_list_item.html','scenicspot_list_item',{});
					setTimeout(function(){
						self.show('slide-in-right','350');
					},100)
					// ca.newInterface({url:'scenicspot/scenicspot_list_top.html',id:'scenicspot_list_top'});
				})
				
				cell[4].addEventListener('tap',function(){
					ca.showWaiting();
					var self=plus.webview.create('guide/guide_list_top_item.html','guide_list_top_item',{});
					setTimeout(function(){
						self.show('slide-in-right','350');
					},100)
					// ca.newInterface({url:'guide/guide_list_top.html',id:'guide_list_top'});
				})
				cell[5].addEventListener('tap',function(){
					ca.showWaiting();
					var self=plus.webview.create('pickup/pickup_list_item.html','pickup_list_item',{});
					setTimeout(function(){
						self.show('slide-in-right','350');
					},100)
					// ca.newInterface({url:'pickup/pickup_list_item.html',id:'pickup_list_item'});
				})
				cell[6].addEventListener('tap',function(){
					ca.showWaiting();
					var self=plus.webview.create('recruit/recruit_index.html','recruit_index',{});
					setTimeout(function(){
						self.show('slide-in-right','350');
					},100)
					// ca.newInterface({url:'pickup/pickup_list_item.html',id:'pickup_list_item'});
				})
				
				var cells=ca.className('shouye2-dt');
				cells[0].addEventListener('tap',function(){
					ca.showWaiting();
					var self=plus.webview.create('headline/hotel_dynamics/hotel_dynamics.html','hotel_dynamics',{});
					setTimeout(function(){
						self.show('slide-in-right','350');
					},100)
				})
				cells[1].addEventListener('tap',function(){
					ca.showWaiting();
					var self=plus.webview.create('headline/hotel_search/hotel_search.html','hotel_search',{});
					setTimeout(function(){
						self.show('slide-in-right','350');
					},100)
				})
				cells[2].addEventListener('tap',function(){
					ca.showWaiting();
					var self=plus.webview.create('headline/car_news/car_news.html','car_news',{});
					setTimeout(function(){
						self.show('slide-in-right','350');
					},100)
				})
				cells[3].addEventListener('tap',function(){
					ca.showWaiting();
					var self=plus.webview.create('headline/car_search/car_search.html','car_search',{});
					setTimeout(function(){
						self.show('slide-in-right','350');
					},100)
				})
				cells[4].addEventListener('tap',function(){
					ca.showWaiting();
					var self=plus.webview.create('headline/ticket_news/ticket_news.html','ticket_news',{});
					setTimeout(function(){
						self.show('slide-in-right','350');
					},100)
				})
				cells[5].addEventListener('tap',function(){
					ca.showWaiting();
					var self=plus.webview.create('headline/guide_search/guide_search.html','guide_search',{});
					setTimeout(function(){
						self.show('slide-in-right','350');
					},100)
				})
				ca.receiveNotice('updatePushMsgUnreadCount',function(){
					setTimeout(function(){
						showweidu();
					},300)
					
				});
				setTimeout(function(){
					showweidu();
				},500)
				function showweidu(){
					var data=localStorage.getItem(localStorage.getItem('userid')+'PushMsgUnreadCount');
					if(data>0 && data<9){
						ca.id('weidushudiv').style.display='block';
						if(mui.os.ios){
							ca.id('weidushu').style.top=-7+'px';
							ca.id('weidushu').style.left=5+'px';
						}else{
							ca.id('weidushu').style.top=-6+'px';
							ca.id('weidushu').style.left=4+'px';
						}
						ca.id('weidushu').innerText=data;
					}else if(data>9 && data<100){
						ca.id('weidushudiv').style.display='block';
						if(mui.os.ios){
							ca.id('weidushu').style.top=-6+'px';
							ca.id('weidushu').style.left=2+'px';
						}else{
							ca.id('weidushu').style.top=-6+'px';
							ca.id('weidushu').style.left=1+'px';
						}
						ca.id('weidushu').innerText=data;
					}else if(data>99){
						ca.id('weidushu').style.top=-8+'px';
						ca.id('weidushu').style.left=2+'px';
						ca.id('weidushudiv').style.display='block';
						ca.id('weidushu').innerText='...';
					}else{
						ca.id('weidushudiv').style.display='none';
					}
				}
			})
		</script>
	</body>

</html>
